.top {
  margin-top: 100px;
}
.form-group {
  margin-top: 50px;
  padding-bottom: 10px;
}
input.form-control {
  width: 260px;
}
.login_btn {
  margin-left: 146px;
}
.login_btn button {
  margin-left: 40px;
}
.icp {
  text-align: center;
}
.icp span {
  color: #666666;
  font-size: 12px;
  font-family: arial;
}
.form-a {
  float: right;
  margin-right: 50px;
}

.alert-info
{
  width: 300px;
  height: 50px;
  margin:60px 0px -20px 100px;
}

/*.error
{
  line-height: 30px;
  text-align: center;
}
*/
